# Dependencies
/node_modules
/backEnd/node_modules
/NomeDoNovoProjeto/node_modules

# Expo
.expo/
dist/

# Environment variables
.env
/backEnd/.env
/NomeDoNovoProjeto/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
